h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir Next" !important; /* Fallback to serif if the font isn't available */
  font-weight: bold;
}

p {
  font-family: Averta, sans-serif !important;
  font-size: 15px;
  letter-spacing: 0.25px;
  color: #0f0e0e;
}

body {
  background-color: #fbf5f3;
}

.p-a {
  color: #522b47;
}

a {
  color: #7d968b !important;
  font-family: Averta, sans-serif !important;
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: bold;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffff00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li {
  font-family: Averta, sans-serif !important;
  font-size: 15px;
  letter-spacing: 0.25px;
}

hr {
  border: 1px solid #7b0828;
  margin-top: 50px;
}

.no-mt {
  margin-top: 15px !important;
}

.bolder {
  font-weight: 1500;
}
